@font-face {
    font-family: 'feeding_a_moment';
    src: url('./fonts/feeding_a_moment/FeedingaMoment.otf');
}

@font-face {
    font-family: 'sanchez';
    src: url('./fonts/sanchez/Sanchezregular.otf');
}

.calibri {
    font-size: 15px;
    color: #142ACC;
    font-family: 'sanchez', "Calibri", Times, serif;
}

.reponse {
    font-size: 15px;
    font-family: 'sanchez', "Calibri", Times, serif;
    color: red;
}

.round {
    color: #62FF00;
}

.totalPoints {
    color: #B23E12;
}

.currentPoints {
    color: #FF4600;
}

#mainBody{
  text-align: center;
  align-items: center;
}

body {
  font-family: 'feeding_a_moment', "Calibri", Times, serif;
  background-color: black;
}

h1 {
  font-size: 65px;
  color: white;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}
